/* Farvevariabler */
:root {
    --primary-bg-color: white;
    --secondary-bg-color: #dedede;
    --sidebar-color: darkgray;
    --extra-bg-color: #e7eef1;
    --alpha-bg-color: #59869d;

    --link-color: black;

    --primary-text-color: black;
    --secondary-text-color: white;
    --alpha-text-color: #59869d;

    --alpha-overskift-type: Montserrat, sans-serif;
}

/* Grundlæggende layout og styling */

/* Mobile first layout */
body {
    min-height: 100vh;
    display: grid;
    grid-gap: 0.5em;
    grid-template-areas:
        'nav'
        'header'
        'main1'
        'main2'
        'sidebar'
        'footer';
    grid-template-rows: auto auto 1fr 1fr auto auto;
    grid-template-columns: 1fr;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Medieforespørgsel for større skærme (min-width: 60em) */
@media (min-width: 60em) {
    body {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto 20em 20em auto;
        width: 80%;
        margin: 0 auto;
        grid-template-areas:
           'nav nav'
           'header sidebar'
           'main1 sidebar'
           'main2 sidebar'
           'footer footer';
    }
}

/* Grid-områder */
nav, header, main1, main2, sidebar, footer {
    padding: 5px;
}

nav {
    grid-area: nav;
    gap: 20px;
    align-items: center; /* Juster indholdet vertikalt */
    display: flex; /* Aktiver flexbox */
    background-color: var(--alpha-bg-color);
    height: 4em;
}

header {
    grid-area: header;
    background-color: var(--secondary-bg-color);
}

main1 {
    grid-area: main1;
}

main2 {
    grid-area: main2;
}

sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}

main1, main2 {
    background-color: var(--secondary-bg-color);
    overflow: auto; /* Tilføjer scroll */
}

sidebar {
    background-color: var(--sidebar-color);
}

footer {
    background-color: var(--alpha-bg-color);

}

/* Typografi og tekst */
h1 {
    font-family: var(--alpha-overskift-type), serif;
    font-size: 40px;
    margin: 2px;
}

h2 {
    text-align: left;
    font-family: var(--alpha-overskift-type), serif;
    font-size: 25px;
    margin: 2px;
}

.teksttabel {
    font-size: 18px;
    font-family: sans-serif;
}

.icon img {
    width: 60px; /* Juster bredden */
    max-height: 60px; /* Juster højden */
    object-fit: contain; /* Sørg for, at billedet bevarer proportionerne */
    background-color: var(--alpha-bg-color); /* Match nav-baggrundsfarve */
    padding: 5px; /* Giver lidt luft omkring billederne */
}

.logo img {
    width: 150px; /* Juster bredden */
    max-height: 150px; /* Juster højden */
    object-fit: contain; /* Sørg for, at billedet bevarer proportionerne */
    background-color: var(--alpha-bg-color); /* Match nav-baggrundsfarve */
    padding: 5px; /* Giver lidt luft omkring billederne */
    display: block;
    vertical-align: middle; /* Eller top eller bottom, afhængigt af behov */
}

/* Links */
.linka {
    color: var(--link-color);
    transition: color 0.3s ease;
    text-decoration: none;
}

form, a {
    display: inline;
}

/* Knapper */
.button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: var(--alpha-bg-color);
    color: var(--secondary-text-color);
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
}


/* Generelle tabelindstillinger */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: separate; /* Tillader runde hjørner */
    border-spacing: 0; /* Fjerner mellemrum mellem cellerne */
    border: 1px solid black;
    overflow: hidden; /* Sørger for, at indholdet følger runde hjørner */
    border-radius: 15px; /* Runde hjørner */
    background-color: var(--extra-bg-color);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black; /* Lige linjer mellem rækker */
}

th {
    font-weight: bold;
    border-top: 2px solid black;
}

tr:last-child td {
    border-bottom: none; /* Ingen kantlinje under den sidste række */
}

tr:last-child th {
    border-top: none;
}
