<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<h1>Create Project</h1>

<form action="project/create_project" method="post">
    <!--String title, string description, int customer, Date orderDate, Date Delivery, string linkagreement, int companyrep, int status -->
    <label class="projectTitle" for="projectTitle">Project Title: </label>
    <input type="text" id="projectTitle" name="projectTitle" required>
    <br>
    <label class="projectDescription" for="projectDescription">Project Description: </label>
    <input type="text" id="projectDescription" name="projectDescription" required>
    <br>
    <label class="customer" for="customer">Project Customer: </label>
    <input type="text" id="customer" name="customer">
    <br>
    <label class="orderDate" for="orderDate">Order Date: </label>
    <input type="date" id="orderDate" name="orderDate" required>
    <br>
    <label class="deliveryDate" for="deliveryDate">Order Date: </label>
    <input type="date" id="deliveryDate" name="deliveryDate" required>
    <br>
    <label class="linkAgreement" for="linkAgreement">Link Agreement: </label>
    <input type="text" id="linkAgreement" name="linkAgreement">
    <br>
    <label class="companyRep" for="companyRep">Company rep.: </label>
    <select id="companyRep" name="companyRep" required>
        <option value="" disabled selected>Select a Company Representative</option>
        <!--Project managers -->
        <option value="" disabled>---Project Managers---</option>
        <option th:each="pm : ${PMEmployees}" th:value="${pm.getEmployeeID()}" th:text="${pm.getFullName()}"></option>

        <!--Business consultants -->
        <option value="" disabled>---Business Consultants---</option>
        <option th:each="bc : ${BCEmployees}" th:value="${bc.getEmployeeID()}" th:text="${bc.getFullName()}"></option>
    </select>

    <br>
    <label class="status" for="status">Status: </label>
    <input type="text" id="status" name="status">
    <br>
    <button type="submit">Create Project</button>
</form>

</body>
</html>