<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Project</title>
</head>
<body>
<h1>Create Project</h1>
<div th:if="${titleAlreadyExistsError}">
    <p th:text="${titleAlreadyExistsError}" style="color:red"></p>
</div>

<form th:action="@{/user/{employeeID}/create-project(employeeID=${employeeID})}" method="post">

    <!--String title, string description, int customer, Date orderDate, Date Delivery, string linkagreement, int companyrep, int status -->
    <label class="projectTitle" for="projectTitle">Project Title: </label>
    <input type="text" id="projectTitle" name="projectTitle" required>
    <br>
    <label class="projectDescription" for="projectDescription">Project Description: </label>
    <input type="text" id="projectDescription" name="projectDescription" required>
    <br>
    <!-- Dropdown-menu til kunder hvor det skal være muligt at vælge intern projekt plus oprette ny kunde -->
    <label class="customer" for="customer">Project Customer: </label>
    <select id="customer" name="customer" required>
        <option value="" disabled selected>Select Customer</option>
        <option value="1">Internal Project</option>
        <option value="2">New Customer</option>
        <option th:each="customer : ${customers}"
                th:value="${customer.getCustomerID()}"
                th:text="${customer.getCompanyName()+' | '+customer.getRepName()}"></option>
    </select>

    <br>
    <label class="orderDate" for="orderDate">Order Date: </label>
    <input type="date" id="orderDate" name="orderDate" required>
    <br>
    <label class="deliveryDate" for="deliveryDate">Agreed Delivery Date: </label>
    <input type="date" id="deliveryDate" name="deliveryDate" required>
    <br>
    <label class="linkAgreement" for="linkAgreement">Link Agreement: </label>
    <input type="text" id="linkAgreement" name="linkAgreement" placeholder="Leave empty if no agreement">
    <br>
    <label class="companyRep" for="companyRep">Project Manager: </label>
    <select id="companyRep" name="companyRep" required>
        <option value="" disabled selected>Select a Company Representative</option>
        <!--Project managers -->
        <option value="" disabled>---Project Managers---</option>
        <option th:each="pm : ${PMEmployees}" th:value="${pm.getEmployeeID()}" th:text="${pm.getFullName()}"></option>

        <!--Business consultants -->
        <option value="" disabled>---Business Consultants---</option>
        <option th:each="bc : ${BCEmployees}" th:value="${bc.getEmployeeID()}" th:text="${bc.getFullName()}"></option>
    </select>
    <br>
    <label class="status" for="status">Status: </label>
    <select id="status" name="status" required>
        <option value="" disabled selected>Select Project Status</option>
        <option th:each="status : ${statusobjects}" th:value="${status.getStatusID()}" th:text="${status.getStatus()}"></option>
    </select>
    <br>
    <button type="submit">Create Project</button>
</form>

</body>
</html>