<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All projects specific user</title>
</head>
<body>

<h1>Dashboard</h1>
<h2 th:text="${employee.getFullName()}"></h2>
<h2 th:text="${employee.getRoleName()}"></h2>
<!-- denne mangler at blive tilrettet
<h3>Tasks</h3>
<table>
  <thead>
  <tr>
    <th>Task</th>
    <th>Project Title</th>
    <th>Project Description</th>
    <th>Project Customer</th>
    <th>Project Order Date</th>
    <th>Project Delivery Date</th>
    <th>Project Link Agreement</th>
    <th>Project Company Rep</th>
    <th>Project Status</th>
  </tr>
  </thead>
  <tbody th:each="project : ${projects}">
  <tr>
    <td th:text="${project.getID()}"></td>
    <td th:text="${project.getProjectTitle()}"></td>
    <td th:text="${project.getProjectDescription()}"></td>
    <td th:text="${project.getCustomerNameString()}"></td>
    <td th:text="${project.getOrderDate()}"></td>
    <td th:text="${project.getDeliveryDate()}"></td>
    <td> <a th:href="${project.getLinkAgreement()}" target="_blank" th:text="${project.getLinkAgreement()}"></a></td>
    <td th:text="${project.getCompanyRepString()}"></td>
    <td th:text="${project.getStatusString()}"></td>
  </tr>
  </tbody>
</table>
-->


<h3>Associated Projects</h3>
<table>
  <thead>
  <tr>
    <th>Project Title</th>
    <th>Project Description</th>
    <th>Project Customer</th>
    <th>Project Order Date</th>
    <th>Project Delivery Date</th>
    <th>Project Link Agreement</th>
    <th>Project Company Rep</th>
    <th>Project Status</th>
  </tr>
  </thead>
  <tbody th:each="project : ${projects}">
  <tr>
    <td th:text="${project.getProjectTitle()}"></td>
    <td th:text="${project.getProjectDescription()}"></td>
    <td th:text="${project.getCustomerNameString()}"></td>
    <td th:text="${project.getOrderDate()}"></td>
    <td th:text="${project.getDeliveryDate()}"></td>
    <td> <a th:href="${project.getLinkAgreement()}" target="_blank" th:text="${project.getLinkAgreement()}"></a></td>
    <td th:text="${project.getCompanyRepString()}"></td>
    <td th:text="${project.getStatusString()}"></td>
    <!--<td>
      <form th:action="@{/project/{name}/delete(name=${project.getProjectTitle})}" method="post">
        <button type="submit">Delete</button>

      </form>
    </td>-->
  </tr>
  </tbody>
</table>


</body>
</html>