<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit Hours</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>
<body>

<nav>
    <div th:insert="~{fragments.html :: nav(employeeID=${employeeID})}"></div>
</nav>

<header>
    <h1 th:text="'Submit Hours for: ' + ${task.taskTitle}">Submit Hours</h1>
    <p>Enter the amount of hours you've worked on this task today.</p>

    <div class="task-overview">
        <form th:action="@{/user/{employeeID}/{projectID}/{subProjectID}/{taskID}/save-submit-hours (employeeID=${employeeID}, projectID=${projectID}, subProjectID = ${subProjectID}, taskID = ${taskID})}" method="POST">
            <label for="hours">Hours:</label>
            <input type="number" id="hours" name="hours" step="0.25" min="0" required>
            <button type="submit">Submit Hours</button>
        </form>
        <a th:href="@{/user/{employeeID}/{projectID}/{subProjectID}/{taskID} (employeeID=${employeeID}, projectID=${projectID}, subProjectID = ${subProjectID}, taskID = ${taskID})}">
            <button style="margin-right:5%" type="button">Go Back</button>
        </a>
    </div>
</header>

<main>

</main>

<footer>
    <div th:insert="~{fragments.html :: footer}"></div>
</footer>

</body>
</html>
