<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update SubProject</title>
    <link rel="stylesheet" href="/input.css">

</head>
<body>

<nav>
    <div th:insert="~{fragments.html :: nav(employeeID=${employeeID})}"></div>
</nav>

<main>
    <div class="grid-container">

        <form class="input-form" th:action="@{'/user/'+${employeeID}+'/'+${projectID} +'/' +${subProjectID} +'/update-subproject'}"
              method="post">

            <input type="hidden" th:value="${projectID}" name="projectID">

            <h1>Update Subproject</h1>

            <label for="subProjectTitle">SubProject Title</label>
            <input type="text" id="subProjectTitle" name="subProjectTitle" th:value="${subProject.getSubProjectTitle()}" required>
            <br>

            <label for="subProjectDescription">Description</label>
            <textarea id="subProjectDescription" name="subProjectDescription" th:value="${subProject.getSubProjectDescription()}" th:text="${subProject.getSubProjectDescription()}" required></textarea>
            <br>

            <label for="statusID">Status</label>
            <select id="statusID" name="statusID" required>
                <option value="" disabled selected>Select status</option>

                <option th:each="status : ${allStatus}"
                        th:value="${status.getStatusID()}"
                        th:text="${status.getStatus()}"
                        th:selected="${status.getStatusID() == subProject.getStatusID()}"
                        ></option>
            </select>
            <br>

            <button type="submit">Save Subproject</button>
        </form>

        <a th:href="@{'/user/' + ${employeeID} + '/' + ${projectID} + '/' + ${subProjectID}}">
            <button class="go-back-input-button" type="button">Go Back</button>
        </a>
    </div>
</main>

<footer>
    <div th:insert="~{fragments.html :: footer}"></div>
</footer>

</body>
</html>